<div class="container">
  <div class="form-container">
      <div class="title">Giriş</div>
      <form [formGroup]="loginForm">
          <mat-form-field appearance="outline">
              <mat-label>Emailinizi Giriniz</mat-label>
              <input matInput formControlName="email"/>
              <mat-error>
                <p *ngIf="f['email'].errors && f['email'].errors['required']">Email zorunludur</p>
                <p *ngIf="f['email'].errors && f['email'].errors['email']">Email formatını doğru giriniz</p>

              </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
              <mat-label>Şifrenizi Giriniz</mat-label>
              <input type="password" matInput formControlName="password"/>
              <mat-error>
                <p *ngIf="f['password'].errors && f['password'].errors['required']">Şifre zorunludur</p>
                <p *ngIf="f['password'].errors && f['password'].errors['minlength']">Minumum 8 karakter giriniz</p>

              </mat-error>
          </mat-form-field>
      </form>
      <div class="buttons-container">
          <button [disabled]="loginForm.invalid" (click)="login()" mat-raised-button class="login-button">
              Giriş Yap
          </button>
          <p>Veya</p>
          <button mat-button routerLink="/createuser">Hesap Oluştur</button>
          <!-- {{loginForm.value | json}} -->
      </div>
  </div>
</div>

