/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.css";

html,body{
    min-width: 100vw;
    max-height: 100vh;
    background-color: blueviolet;
}