<div class="container">
  <div style="display: flex;align-items: center;margin-right: 50px;">
    <button (click)="returnBack()" mat-raised-button color="accent">Geri Dön</button>
  </div>
    <div class="content-wrapper" *ngIf="questionObj != undefined">
        <div class="title-container">
           İstediğiniz soruya cevap verebilirsiniz
        </div>
      <mat-card class="question-card" *ngFor="let solution of questionObj.solutions; let i = index">
        <mat-card-content>
            <div class="solution-container">
                <div class="arrows-container">
                    <button (click)="vote(i,1)" [class.colored-icon]="solution.plus.indexOf(userService.user.id)>=0" mat-icon-button><mat-icon>expand_less</mat-icon></button>
                  	<span class="increasedecrease">{{solution.plus.length-solution.minus.length}}</span>
                    <button (click)="vote(i,-1)" [class.colored-icon]="solution.minus.indexOf(userService.user.id)>=0" mat-icon-button><mat-icon>expand_more</mat-icon></button>
                </div>
                <div class="data-container">
                    <p class="username">{{solution.username}}</p>
                    <p>
                      {{solution.solution}}
                    </p>
                </div>
            </div>

        </mat-card-content>
      </mat-card>

      <mat-form-field appearance="fill">
        <textarea [(ngModel)]="solutionText" matInput cdkTextareaAutosize cdkAutosizeMinRows="5" placeholder="Cevabınızı Girin..."></textarea>
      </mat-form-field>


      <div class="new-post-actions-container">
        <button (click)="postSolution()" [disabled]="solutionText.trim() == ''" mat-raised-button class="post-button">Kaydet</button>
      </div>
    </div>
  </div>

